.signup{
  margin-top: 30px;
 width: 40%;
 /* background-color: brown; */
}
.signup input{
  /* background-color: aqua; */
  width:70%;
  min-width:250px;
  margin:20px;
  border-radius: 10px;
  height: 35px;
}
.signup button{
  margin-top: 30px;
  width:70%;
  min-width:250px;
  margin:20px;
  border-radius: 10px;
  height: 35px;
  background-color: aqua;
}
button{
  margin-top: 30px;
  /* width:70%; */
  width:100px;
 
  border-radius: 20px;
  height: 35px;
  background-color: aqua;
  
}
.Error button{
  margin-top: 30px;
  /* width:70%; */
  width:200px;
 margin: auto;
  border-radius: 20px;
  height: 35px;
  background-color: aqua;
  
}
.Error {
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
